<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="User">
	<resultMap type="User" id="user">
		<id property="userId" column="user_id"/>
		<result property="mIdx" column="m_idx"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="type" column="type"/>
		<result property="regdate" column="regdate"/>
		<result property="birth" column="birth"/>
		<result property="isLeave" column="is_leave"/>
		<result property="sIdx" column="s_idx"/>
		<result property="pIdx" column="p_idx"/>
		<result property="semester" column="semester"/>
	</resultMap>
	<resultMap type="Scholarship" id="scholarship">
		<id property="sIdx" column="s_idx"/>
		<result property="siIdx" column="si_idx"/>
		<result property="userId" column="user_id"/>
		<result property="amount" column="amount"/>
		<result property="semester" column="semester"/>
		<result property="name" column="name"/>
	</resultMap>
	<resultMap type="Grade" id="grade">
		<id property="cIdx" column="cIdx"/>
		<result property="userId" column="user_id"/>
		<result property="proId" column="pro_id"/>
		<result property="score" column="score"/>
		<result property="credit" column="credit"/>
		<result property="classCredit" column="class_credit"/> 	
	</resultMap>
	
	<!-- 로그인 -->
	<select id="login" resultMap="user">
		SELECT * FROM USERS WHERE USER_ID = #{userId} AND PASSWORD = #{password}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultMap="user">
		SELECT * FROM USERS WHERE NAME = #{name} AND BIRTH = #{birth}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPwd" resultMap="user">
		SELECT * FROM USERS WHERE USER_ID = #{userId} AND NAME = #{name} AND PHONE = #{phone}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePwd"> 
		UPDATE USERS SET PASSWORD = #{password} WHERE USER_ID = #{userId}
	</update>
	
	<!-- 이메일 변경 -->
	<update id="updateEmail">
		UPDATE USERS SET EMAIL = #{email} WHERE USER_ID = #{userId}
	</update>
	
	<!-- 핸드폰 번호 변경 -->
	<update id="updatePhone">
		UPDATE USERS SET PHONE = #{phone} WHERE USER_ID = #{userId}
	</update>
	
	<!-- 메세지 전송 -->
	<insert id="sendMessage">
		INSERT INTO MESSAGE VALUES (SEQ_MESSAGE.NEXTVAL, #{userId}, #{rId}, SYSDATE, #{content})
	</insert>
	
	<!-- 메세지 출력 -->
	<select id="readMessage" resultType="map">
		SELECT USER_ID, R_ID, CONTENT, TO_CHAR(REGDATE, 'YYYY/MM/DD HH24:MI') AS REGDATE FROM MESSAGE WHERE (USER_ID = #{userId} AND R_ID = #{rId}) OR (USER_ID = #{rId} AND R_ID = #{userId}) ORDER BY REGDATE ASC
	</select>
	
	<!-- 프로필 사진 업로드 -->
	<select id="profileImg" resultType="map">
		SELECT SAVE_PATH FROM FILES WHERE USER_ID = #{userId}
	</select>
	
	<!-- 등록금 조회 -->
	<select id="tuition" resultType="map">
		SELECT TUITION FROM MAJOR_INFO WHERE M_IDX = #{mIdx}
	</select>
	
	<!-- 장학금  총액 조회 -->
	<select id="selectScholar" resultType="scholarship">
		SELECT TO_CHAR(SUM(AMOUNT), '999,999,999') AS AMOUNT FROM SCHOLARSHIP WHERE USER_ID = #{userId}
	</select>
	
	<!-- 시간표 조회 -->
	<select id="schedule" resultType="map">
		SELECT * FROM SCHEDULE WHERE USER_ID = #{userId} OR PRO_ID = #{userId}
	</select>
	
	<!-- 현학기 성적 조회 -->
	<select id="grade" resultType="map">
		SELECT * FROM GRADE WHERE USER_ID = #{userId} AND YEAR_SEMESTER = #{yearSemester}
	</select>
	
	<!-- 전학기 성적 조회 -->
	<select id="gradeAll" resultType="map">
		SELECT YEAR_SEMESTER, TYPE, A.C_IDX, TITLE, CLASS_CREDIT, SCORE, GRADE FROM CLASS A, GRADE B WHERE A.C_IDX = B.C_IDX AND B.USER_ID = #{userId}
	</select>
	
	<!-- 학과 조회 -->
	<select id="major" resultType="map">
		SELECT NAME FROM MAJOR_INFO WHERE M_IDX = #{mIdx}
	</select>
	
	<!-- 장학금 학기별 총액 조회 -->
	<select id="semesterScholar" resultType="scholarship">
		SELECT TO_CHAR(SUM(AMOUNT), '999,999,999') AS AMOUNT FROM SCHOLARSHIP WHERE SEMESTER = #{semester} AND USER_ID = #{userId}
	</select>
	
	<!-- 장학금 학기별 조회 -->
	<select id="sch" resultType="scholarship">
		SELECT * FROM SCHOLARSHIP, SCHOLARSHIP_INFO WHERE SCHOLARSHIP.SI_IDX = SCHOLARSHIP_INFO.SI_IDX AND SEMESTER = #{semester} AND USER_ID = #{userId}
	</select>
	
	<!-- 장학금 전체 조회 -->
	<select id="allSch" resultType="scholarship">
		SELECT * FROM SCHOLARSHIP, SCHOLARSHIP_INFO WHERE SCHOLARSHIP.SI_IDX = SCHOLARSHIP_INFO.SI_IDX AND USER_ID = #{userId}
	</select>
	
	<!-- 장학금 학기별 수 조회 -->
	<select id="schCount" resultType="int">
		SELECT COUNT(*) FROM SCHOLARSHIP WHERE SEMESTER = #{semester} AND USER_ID = #{userId}		
	</select>
	
	<!-- 장학금 전체 수 조회 -->
	<select id="allSchCount" resultType="int">
		SELECT COUNT(*) FROM SCHOLARSHIP WHERE USER_ID = #{userId}
	</select>
	
	<!-- 전체 성적 조회 페이지 정보(총 학점, 총 실점, 총 점) -->
	<select id="gradeInfo" resultType="map">
		SELECT SUM(CLASS_CREDIT) AS CLASS_CREDIT, ROUND(AVG(SCORE),2) AS SCORE, ROUND(AVG(CREDIT),2) AS CREDIT 
		FROM CLASS A, GRADE B WHERE A.C_IDX = B.C_IDX AND B.USER_ID = #{userId}
	</select>
	
	<!-- 수업정보 -->
	<select id="classInfo" resultType="map">
		SELECT TITLE, CONTENT, NAME, L_CNT, F_CNT, LEVELS, TIME, A.TYPE, A.SEMESTER, CLASS_CREDIT 
		FROM CLASS A, USERS B WHERE B.USER_ID = #{userId} AND C_IDX = #{cIdx}
	</select>
	
	<select id="typeChoose" resultType="map">
		SELECT * FROM USERS WHERE USER_ID = #{userId}
	</select>
	
</mapper>