<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings> <!-- 입력 값이 Null일 경우 “”이 아닌 Null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases> <!-- 사용하고자 하는 클래스의 별칭을 선언 -->
		<typeAlias type="com.jun.potal.vo.User" alias="User" />
		<typeAlias type="com.jun.potal.vo.Book" alias="Book" />
		<typeAlias type="com.jun.potal.vo.Rent" alias="Rent" />
		<typeAlias type="com.jun.potal.vo.ServiceType" alias="ServiceType" />
		<typeAlias type="com.jun.potal.vo.ServiceHistory" alias="ServiceHistory" />
		<typeAlias type="com.jun.potal.vo.Scholarship" alias="Scholarship" />
		<typeAlias type="com.jun.potal.vo.Schedule" alias="Schedule" />
		<typeAlias type="com.jun.potal.vo.Grade" alias="Grade" />
		<typeAlias type="com.jun.potal.common.paging.Paging" alias="Paging" />
	</typeAliases>	
	<mappers> <!-- 사용하고자 하는 쿼리를 정의한 mapper.xml을 등록 -->
		<mapper resource="mappers/user-mapper.xml" />
		<mapper resource="mappers/book-mapper.xml" />
		<mapper resource="mappers/service-mapper.xml" />
		<mapper resource="mappers/service-his-mapper.xml" />
		<mapper resource="mappers/grade-mapper.xml" />
	</mappers>
</configuration>
